body {
	background-color: var(--couleur-principale-body);
	color: var(--couleur-noire);
}

.aboutSection {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 10rem; /* Équivalent à 160px */
}

.aboutImageContainer {
	width: 50%;
	background-color: var(--couleur-secondaire-claire);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 6rem; /* Équivalent à 100px */
}

.aboutImage {
	width: 80%; /* Ajuster pour une image plus petite */
	height: auto;
}

.aboutContentContainer {
	width: 50%;
	padding: 0 100px;
	display: flex;
	flex-direction: column;
}

h2 {
	font-size: 2rem; /* Taille adaptée aux mobiles */
	margin-bottom: 50px; /* Réduire l'espacement pour mobile */
}

p {
	margin-bottom: 20px; /* Réduire l'espacement pour mobile */
}

.aboutText {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

/* CTA côte à côte */
.ctaContainer {
	display: flex;
	gap: 1rem; /* Espacement réduit pour les CTA */
	align-items: flex-end;
}

/* Responsive */
@media (max-width: 1024px) {
	.aboutSection {
		flex-direction: column;
		padding: 2.5rem; /* Équivalent à 40px */
	}

	.aboutImageContainer,
	.aboutContentContainer {
		width: 100%;
		padding: 2.5rem; /* Équivalent à 40px */
		margin: 0 auto;
	}

	h2 {
		font-size: 1.75rem; /* Taille adaptée aux écrans intermédiaires */
		margin-bottom: 30px; /* Réduire l'espacement */
	}

	p {
		font-size: 1.25rem; /* Taille adaptée aux écrans intermédiaires */
		margin-bottom: 15px; /* Réduire l'espacement */
	}

	.ctaContainer {
		flex-direction: column;
		align-self: center; /* Centrer les CTA pour les écrans de taille intermédiaire */
	}

	.cta {
		width: 100%;
		text-align: center;
		font-size: 1.75rem; /* Équivalent à 28px */
		height: 2.625rem; /* Équivalent à 42px */
		margin-top: 10px; /* Réduire l'espacement */
		padding: 1.75rem; /* Équivalent à 28px */
	}
}

@media (max-width: 768px) {
	.aboutSection {
		flex-direction: column;
		padding: 2.5rem; /* Équivalent à 20px */
	}

	.aboutImageContainer,
	.aboutContentContainer {
		width: 100%;
		padding: 10px; /* Réduit le padding à 10px */
		margin: 0 auto;
	}
	.aboutImageContainer {
		height: 20.31rem;
	}

	h2 {
		font-size: 1.5rem; /* Taille adaptée aux mobiles */
	}

	p {
		font-size: 1rem; /* Taille adaptée aux mobiles */
		margin-bottom: 10px; /* Réduire l'espacement pour mobile */
	}

	.ctaContainer {
		flex-direction: column;
		align-self: center; /* Centrer les CTA pour les petits écrans */
	}
	a {
		margin: 0;
		padding: 0;
	}

	.cta {
		margin-top: 20px;
		width: 100%;
		text-align: center;
		font-size: 1.5rem; /* Équivalent à 24px */
		padding: 1.5rem;
	}
}
