body {
	background-color: var(--couleur-principale-body);
	color: var(--couleur-noire);
}

.aboutSection {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 10rem; /* Équivalent à 160px */
}

.aboutImage {
	width: 48%;
	height: auto;
	padding: 6.25rem; /* Équivalent à 100px */
	background-color: var(--couleur-secondaire-claire);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.aboutImage img {
	width: 90%;
	height: auto;
}

.aboutText {
	display: flex;
	flex-direction: column;
	width: 48%;
	height: auto;
	padding: 6.25rem; /* Équivalent à 100px */
	gap: 2rem;
}

/* Garder le style de .ctaContainer */
.ctaContainer {
	display: flex;
	gap: 1.5rem;
	align-items: flex-end;
}

/* Responsive */
@media (max-width: 768px) {
	.aboutSection {
		flex-direction: column;
		padding: 1.25rem; /* Équivalent à 20px */
	}

	.aboutImage,
	.aboutText {
		width: 100%;
		padding: 1.25rem 0; /* Équivalent à 20px 0 */
	}

	.ctaContainer {
		flex-direction: column;
		align-self: center; /* Centrer les CTA pour les petits écrans */
	}

	.cta {
		width: 100%;
		text-align: center;
	}
}
