body {
	background-color: var(--couleur-principale-body);
	color: var(--couleur-noire);
}

.aboutSection {
	display: flex;
	justify-content: space-between;
	align-items: flex-start; /* Aligner le début des éléments */
	padding: 10rem; /* Équivalent à 160px */
}

.aboutImage {
	width: 48%;
	height: auto;
	padding: 6.25rem; /* Équivalent à 100px */
	background-color: var(--couleur-secondaire-claire);
	display: flex;
	flex-direction: column;
	justify-content: flex-end; /* Aligner les éléments vers le bas */
	align-items: center;
}

.aboutImage img {
	width: 90%;
	height: auto;
}

/* Fusionner les styles de .aboutText */
.aboutText {
	width: 48%;
	height: auto;
	padding: 6.25rem; /* Équivalent à 100px */
	display: flex;
	flex-direction: column;
	justify-content: space-between; /* Ajoute un espacement entre les éléments */
	gap: 2rem; /* Espacement harmonieux entre les éléments */
}

/* Garder le style de .ctaContainer */
.ctaContainer {
	display: flex;
	gap: 1.5rem; /* Espacement entre les CTA */
	align-items: flex-end;
}

/* Garder le style de .cta */
.cta {
	background-color: var(--couleur-orange);
	color: var(--couleur-principale-body);
	width: 18.75rem; /* Équivalent à 300px */
	height: 2.8125rem; /* Équivalent à 45px */
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Economica", serif;
	font-size: 1.875rem; /* Équivalent à 30px */
	font-weight: 700;
	text-decoration: none;
	box-shadow: 0.1875rem 0.1875rem 0.3125rem var(--couleur-secondaire-claire); /* Équivalent à 3px 3px 5px */
	text-align: center;
	transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.cta:hover {
	transform: translateY(-0.3125rem);
}

/* Responsive */
@media (max-width: 768px) {
	.aboutSection {
		flex-direction: column;
		padding: 1.25rem; /* Équivalent à 20px */
	}

	.aboutImage,
	.aboutText {
		width: 100%;
		padding: 1.25rem 0; /* Équivalent à 20px 0 */
	}

	.ctaContainer {
		flex-direction: column;
		align-self: center; /* Centrer les CTA pour les petits écrans */
	}

	.cta {
		width: 100%;
		text-align: center;
	}
}
