body {
	background-color: var(--couleur-principale-body);
	color: var(--couleur-noire);
}

.contactSection {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10rem; /* Équivalent à 160px */
}

.contactText,
.contactForm {
	width: 48%;
	padding: 6.25rem; /* Équivalent à 100px */
}

.contactForm {
	background-color: var(--couleur-noire);
}

/* Aligner et espacer les éléments dans .contactText */
.contactText {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 2rem; /* Ajoute un espacement de 2rem entre les éléments */
}

/* Garder le style de .cta */
.cta {
	background-color: var(--couleur-orange);
	color: var(--couleur-principale-body);
	width: 18.75rem; /* Équivalent à 300px */
	height: 2.8125rem; /* Équivalent à 45px */
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Economica", serif;
	font-size: 1.875rem; /* Équivalent à 30px */
	font-weight: 700;
	text-decoration: none;
	box-shadow: 0.1875rem 0.1875rem 0.3125rem var(--couleur-secondaire-claire); /* Équivalent à 3px 3px 5px */
	text-align: center;
	transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.cta:hover {
	transform: translateY(-0.3125rem);
}

.contactForm form {
	display: flex;
	flex-direction: column;
}

.formGroup {
	display: flex;
	flex-direction: row;
	gap: 1.25rem; /* Équivalent à 20px */
	margin-bottom: 1.25rem; /* Équivalent à 20px */
}

.formGroup input,
.formGroup textarea {
	width: 100%;
	padding: 0.625rem; /* Équivalent à 10px */
	border: 1px solid var(--couleur-secondaire-claire);
	font-size: 1rem; /* Équivalent à 16px */
}

textarea {
	resize: vertical;
	height: 15.625rem; /* Équivalent à 250px */
}

button {
	display: flex;
	justify-content: center; /* Centre le texte horizontalement */
	align-items: center; /* Centre le texte verticalement */
	font-family: "Economica", serif;
	font-size: 1.5rem; /* Équivalent à 24px */
	font-weight: 600;
	padding: 0.625rem; /* Équivalent à 10px */
	width: 9.375rem; /* Équivalent à 150px */
	background-color: var(--couleur-orange);
	color: var(--couleur-principale-body);
	border: none;
	cursor: pointer;
	transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

button:hover {
	transform: translateY(-0.3125rem); /* Équivalent à -5px */
}

/* Responsive */
@media (max-width: 768px) {
	.contactSection {
		flex-direction: column;
		padding: 1.25rem; /* Équivalent à 20px */
	}

	.contactText,
	.contactForm {
		width: 100%;
		padding: 1.25rem 0; /* Équivalent à 20px 0 */
	}

	.formGroup {
		flex-direction: column;
	}
}
