/* 1rem = 16px  */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	font-size: 16px;
	--couleur-principale-body: #faf7f0;
	--couleur-secondaire-claire: #d8d2c2;
	--couleur-orange: #b17457;
	--couleur-foncee: #4a4947;
	--couleur-noire: #131313;
	--couleur-gris-claire: #e3e3e3;
	--couleur-gris-foncee: #f7f7f7;
}
body {
	background-color: var(--couleur-principale-body);
	color: var(--couleur-noire);
}

.contactSection {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 7rem 15rem;
}

.contactText {
	width: 45%;
	padding-right: 6rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 9.4rem;
}
.contactText h2 {
	margin: inherit;
}

.contactFormContainer {
	width: 45%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--couleur-noire);
	padding: 6rem;
}

.contactForm {
	width: 100%;
}

.contactForm form {
	display: flex;
	flex-direction: column;
}

.formGroup {
	display: flex;
	flex-direction: row;
	gap: 1.25rem;
	margin-bottom: 1.25rem;
}

.formGroup input,
.formGroup textarea {
	width: 100%;
	padding: 0.625rem;
	background-color: var(--couleur-principale-body);
	border: 1px solid var(--couleur-secondaire-claire);
	font-size: 1rem;
}

textarea {
	resize: none;
	height: 15.625rem;
	overflow: auto; /* Active le défilement automatique */
	font-family: "Montserrat", sans-serif;
}

button {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Economica", serif;
	font-size: 1.5rem;
	font-weight: 600;
	padding: 0.625rem;
	width: 9.375rem;
	background-color: var(--couleur-orange);
	color: var(--couleur-principale-body);
	border: none;
	cursor: pointer;
	transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}
.submit {
	display: flex;
	justify-content: center;
}
button:hover {
	transform: translateY(-0.3125rem);
}
.ctaResponsive {
	display: none;
}

/* Responsive */
@media (max-width: 768px) {
	.contactSection {
		flex-direction: column;
		padding: 0 2.5rem;
	}

	.contactFormContainer {
		width: 100%;
		padding: 48px;
		margin-bottom: 5rem;
	}

	.contactText {
		width: 100%;
		padding: 0 0.5rem;
		margin: 0 0 5rem 0;
		gap: 1rem;
	}

	.contactText h2 {
		margin-bottom: 1rem;
	}

	.contactText p {
		margin-bottom: 1rem;
	}

	.formGroup {
		flex-direction: column;
	}

	.ctaContainer {
		margin-top: 1rem;
		flex-direction: column;
		align-self: center; /* Centrer les CTA pour les petits écrans */
		justify-content: center;
	}

	.cta {
		display: none;
	}
	.ctaResponsive {
		background-color: var(--couleur-orange);
		color: var(--couleur-principale-body);
		padding: 1.5rem;
		width: 12.5rem;
		max-width: 18.75rem;
		height: 2.8125rem;
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: "Economica", serif;
		font-size: 1.5rem;
		font-weight: 400;
		text-decoration: none;
		box-shadow: 0.1875rem 0.1875rem 0.3125rem var(--couleur-secondaire-claire); /* Équivalent à 3px 3px 5px */
		text-align: center;
		transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
	}

	.ctaResponsive:hover {
		transform: translateY(-0.3125rem);
	}

	div.contactFormContainer {
		margin: 0;
	}
	div.contactText {
		margin: 0;
	}
}
