/* 1rem = 16px */
:root {
	--couleur-principale-body: #faf7f0;
	--couleur-secondaire-claire: #d8d2c2;
	--couleur-orange: #b17457;
	--couleur-foncee: #4a4947;
	--couleur-noire: #131313;
	--couleur-gris-claire: #e3e3e3;
	--couleur-gris-foncee: #f7f7f7;
	font-family: "Montserrat",serif;
}

footer {
	background-color: var(--couleur-noire);
	color: var(--couleur-principale-body);
	padding: 10px 0;
	font-family: "Montserrat", serif;
	font-size: 1rem;
}

.content {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	margin: 0 10rem;
}

.menuSecondaire,
.contactInfo,
.suivezMoi {
	margin: 0 100px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.separator {
	width: 2px;
	background-color: var(--couleur-principale-body);
	height: 25rem;
	align-self: center;
	margin-bottom: 2.5rem;
}

.menuSecondaire ul,
.contactInfo ul,
.suivezMoi ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.menuSecondaire a {
	font-family: "Montserrat", serif;
	color: var(--couleur-principale-body);
	text-decoration: none;
	display: inline-block;
	padding: 0.5rem 1.25rem;
	border: 2px solid var(--couleur-principale-body);
	margin: 7px 0;
	width: 10.5rem;
	text-align: center;
}

.menuSecondaire a:hover {
	background-color: var(--couleur-gris-claire);
	color: var(--couleur-noire);
}

footer p,
footer a {
	font-family: "Montserrat", serif;
	margin: 0;
	color: var(--couleur-principale-body);
}

.contactInfo {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
}
.contactInfo p {
	font-size: 1rem;
	margin-bottom: 1rem;
	text-decoration: none;
}
.contactInfo a {
	font-size: 1rem;
	margin-bottom: 1rem;
	text-decoration: none;
}

.suivezMoi {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
}

.social-links {
	display: flex;
	justify-content: center;
	gap: 3.5rem;
	margin-bottom: 90px;
}
.social-links a img {
	width: 2.2rem;
	height: auto;
}

footer div {
	margin-top: 1.2rem;
}

.titre {
	font-family: "Economica", serif;
	font-weight: 600;
	font-size: 2rem;
	width: 170px;
	margin-top: 0;

	text-align: center;
}
p.titre {
	margin-top: 2rem;
	font-size: 1.8rem;
	margin-bottom: 3rem;
}
.space {
	height: 1.8rem;
}
.spaceMenu {
	height: 1.3rem;
}
.logoFooter{
	width: 7rem;
	height: auto;
}
@media (max-width: 768px) {
	.content {
		flex-direction: column;
		align-items: center;
	}
	.menuSecondaire a {
		width: 10rem;
		font-size: 1.1rem;
	}
	.menuSecondaire,
	.contactInfo,
	.suivezMoi {
		margin: 10px 0;
	}
	.contactInfo p {
		margin-bottom: 1rem;
	}
	.separator {
		display: none;
	}
	.social-links {
		margin: 1.5rem 0;
	}
	.social-links a img {
		width: 2rem;
	}
	p.titre {
		display: none;
	}
	/* p.titre {
		margin: 0 0 1.5rem 0;
		padding: 0;
	} */
	a,
	p {
		margin: 0.5rem 0 1.5rem;
		font-size: 1.2rem;
	}
}
