:root {
	--couleur-principale-body: #faf7f0;
	--couleur-secondaire-claire: #d8d2c2;
	--couleur-orange: #b17457;
	--couleur-foncee: #4a4947;
	--couleur-noire: #131313;
	--couleur-gris-claire: #e3e3e3;
	--couleur-gris-foncee: #f7f7f7;
}

footer {
	background-color: var(--couleur-noire);
	color: var(--couleur-principale-body);
	padding: 15px 0;
}

.content {
	display: flex;
	justify-content: space-between;
	align-items: stretch; /* Assure que les sections ont la même hauteur */
	/* position: relative; */
}

.menuSecondaire,
.contactInfo,
.suivezMoi {
	margin: 0 250px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center; /* Centre le contenu verticalement */
}

.separator {
	width: 1px;
	background-color: var(--couleur-principale-body);
	height: 350px;
	align-self: center;
}

.menuSecondaire ul,
.contactInfo ul,
.suivezMoi ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.menuSecondaire a {
	color: var(--couleur-principale-body);
	text-decoration: none;
	display: inline-block;
	padding: 10px 20px;
	border: 2px solid var(--couleur-principale-body);
	margin: 5px 0;
	width: 120px;
	text-align: center;
}

.menuSecondaire a:hover {
	background-color: var(--couleur-gris-claire);
	color: var(--couleur-noire);
}

/* footer img {
	margin-top: 10px;
	width: 100px;
} */

footer p,
footer a {
	margin: 5px 0;
	color: var(--couleur-principale-body);
}

.contactInfo {
	margin-left: 150px;
	margin-right: 150px;
	display: flex;
	flex-direction: column;
}

.suivezMoi {
	display: flex;
	flex-direction: column;
}

.social-links {
	display: flex;
	justify-content: center; /* Centre les liens horizontalement */
	gap: 30px; /* Espace entre les liens */
}
.social-links a img {
	width: 30px;
	height: auto;
}

footer div {
	margin-top: 20px;
}

.titre {
	padding-bottom: 50px;
}
