:root {
	font-size: 16px;
	--couleur-principale-body: #faf7f0;
	--couleur-secondaire-claire: #d8d2c2;
	--couleur-orange: #b17457;
	--couleur-foncee: #4a4947;
	--couleur-noire: #131313;
	--couleur-gris-claire: #e3e3e3;
	--couleur-gris-foncee: #f7f7f7;
}

* {
	box-sizing: border-box;
}

.container {
	display: flex;
	flex-direction: column;
	text-align: left;
	padding: 0 3rem;
}

.row {
	display: -ms-flexbox; /* IE10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE10 */
	flex-wrap: wrap;
	padding: 0 3rem;
}

/* Create four equal columns that sits next to each other */
.column {
	-ms-flex: 25%; /* IE10 */
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
}

.column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
	aspect-ratio: 1/1;
	overflow: hidden;
}

.ctaContainer {
	padding: 4rem 15rem;
	display: flex;
	justify-content: center;
	align-items: center;
}


.cta {
	width: 100%;
	text-align: center;
	font-size: 1.75rem;
	height: 2.625rem;
	margin-top: 10px;
	padding: 1rem 3rem;
}
h2 {
	margin-bottom: 3rem;
	text-align: left;
	width: 40%;
}

p {
	margin-bottom: 1.5rem;
	text-align: left;
	width: 40%;
}

@media (max-width: 1024px) {
	.column {
		-ms-flex: 50%;
		flex: 50%;
		max-width: 50%;
	}
	.ctaContainer {
		padding: 4rem 7.5rem; /* Ajustez la valeur selon vos besoins */
	}
}

@media (max-width: 768px) {
	.column {
		-ms-flex: 100%;
		flex: 100%;
		max-width: 100%;
	}
	.ctaContainer {
		padding: 4rem 3rem; /* Ajustez la valeur selon vos besoins */
	}
	.row {
		padding: 0;
	}
}
