* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* .economica-regular {
  font-family: "Economica", serif;
  font-weight: 400;
  font-style: normal;
}

.economica-bold {
  font-family: "Economica", serif;
  font-weight: 700;
  font-style: normal;
}

.economica-regular-italic {
  font-family: "Economica", serif;
  font-weight: 400;
  font-style: italic;
}

.economica-bold-italic {
  font-family: "Economica", serif;
  font-weight: 700;
  font-style: italic;
} */

:root {
	--couleur-principale-body: #faf7f0;
	--couleur-secondaire-claire: #d8d2c2;
	--couleur-orange: #b17457;
	--couleur-foncee: #4a4947;
	--couleur-noire: #131313;
	--couleur-gris-claire: #e3e3e3;
	--couleur-gris-foncee: #f7f7f7;
}

body {
	background-color: var(--couleur-principale-body);
}

header {
	background-color: var(--couleur-noire);
	display: flex;
	justify-content: center;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 145px;
	padding: 0 20px;
	width: 80%;
}

.logoNav {
	margin-right: 40px;
}
.logo {
	width: 100px; /*logo test a remplacer par un svg */
	height: auto;
	margin-right: 40px;
}

nav ul {
	list-style-type: none;
	/* margin: 0;
	padding: 0; */
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 100px;
	font-size: 18px;
}

nav ul li {
	margin: 0 15px;
	font-family: "Economica", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 25px;
}

nav ul li a {
	color: var(--couleur-principale-body);
	text-decoration: none;
	font-size: 1.2em;
	transition: color 0.3s ease;
	display: flex;
	align-items: center;
	height: 100%;
	transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

nav ul li a:hover {
	color: var(--couleur-orange);
	transform: translateY(-5px);
}

.social-icons {
	/*a remplacer par des svg */
	display: flex;
	align-items: center;
	gap: 30px;
}

.social-icons a {
	display: flex;
	align-items: center;
}

.social-icons img {
	width: 30px;
	height: auto;
}
